.App {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

/* Login */
.login-container {
  width: 100vw;
  height: 100vh;
  background-color: #0D1117;
  color: #fff;
}

.login-container .login-box {
  position: relative;
  top: 30%;
  margin: auto;
  width: 500px;
  height: 300px;
  background-color: #121317;
  border-radius: 8px;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  color: #fff;
  background-color: #7429DB;
  z-index: 1;
}
.sidebar .header {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.top-nav {
  position: fixed;
  width: 100%;
  height: 60px;
  padding-left: 250px;
  border-bottom: 1px solid #d0d0d0;
}

.content {
  padding-left: 250px;
  padding-top: 60px;
  border: 1px solid red;
  height: 800px;
  color: #5a5a5a;
}
.content .list {
  margin: auto;
  width: 1200px;
  border: 1px solid blue;
  padding: 20px;
}

.content .list .pagination-box ul {
  justify-content: center;
}

.data-grid {
  width: 100%;
  border: 1px solid #465A72;
}

.data-grid tr {
  height: 35px;
}

.data-grid thead tr {
  background-color: #5E728A;
  color: #fff;
}

.data-grid thead th {
  border-right: 1px solid #465A72;
}

.data-grid tbody tr:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

.data-grid tbody tr:hover {
  background-color: #efefef;
  cursor: pointer;
}

.data-grid thead th div,
.data-grid tbody td div {
  padding: 0 10px;
}
