.App {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  color: #fff;
  background-color: #7429DB;
  z-index: 1;
}
.sidebar .header {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.top-nav {
  position: fixed;
  width: 100%;
  height: 60px;
  padding-left: 250px;
  border-bottom: 1px solid #d0d0d0;
}

.content {
  padding-left: 250px;
  padding-top: 60px;
  border: 1px solid red;
  height: 800px;
}
.content .list {
  margin: auto;
  width: 1200px;
  border: 1px solid blue;
}
.content .list table {
  width: 100%;
}

.content .list .pagination-box ul {
  justify-content: center;
}

